<div class="editDetail">

  <div class="box box-warning">

    <div class="content">
      <!-- <div class="button_group" style="float:left">
        <button type="button" class="btn btn-warning btn-sm" (click)="goBackEditTeste()">
          <i class="fa fa-chevron-circle-left"></i> Back</button>
      </div>

      <br>
      <br> -->

      <form #edit="ngForm">
        <div class="form-group">
          <label>Subject Code:</label>
          <input type="text" class="form-control" id="SubjectCode" name="SubjectCode" ngModel [(ngModel)]="Subject_Code" disabled>
        </div>
        <div class="form-group">
          <label>Subject Name:</label>
          <input type="text" class="form-control" id="SubjectName" name="SubjectName" ngModel [(ngModel)]="Subject_Name" disabled>
        </div>

        <div class="form-group">
          <label>chapter Name:</label>
          <input type="text" class="form-control" id="chapterName" name="chaptertName" ngModel [(ngModel)]="chapter_Name">
        </div>

        <div class="form-group">
          <label>Type of Test:</label>
          <select class="form-control" id="SelectTopic" name="SelectTopic" [(ngModel)]="type">
            <option value="" [disabled]="true"> ----Please choose one---- </option>
            <option [ngValue]=1> 1 : คำตอบสั้น </option>
            <option [ngValue]=2> 2 : คำถามแบบ 2 ตัวเลือก </option>
            <option [ngValue]=3> 3 : คำตอบสั้น 3 ตัวเลือก </option>
            <option [ngValue]=4> 4 : คำตอบสั้น 4 ตัวเลือก </option>
          </select>
        </div>
        <ng-container *ngIf="isDisplayQuestion">
        <!-- data question อันเก่า -->
        <table class="table tableShow">
          <tbody>
            <tr *ngFor="let question_item of questionAllList ;let index = index;let i = index;" class="hoverTable">
              <td width="10px" align="center">
                <b> {{i+1}}) </b>
              </td>
              <td>
                <!-- content question -->
                <div class="item">
                  <b>{{question_item.question}}</b>

                  <p class="display_question_item" *ngFor="let itemChoice of question_item.choice;let i = index">

                    <!-- {{question_item.choice[0]}} -->
                    &nbsp;&nbsp;&nbsp; &nbsp; [{{i+1}}]&nbsp;{{itemChoice}}
                  </p>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <u>
                    <b>answer</b>&nbsp;&nbsp;index [{{question_item.answer}}] </u>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        </ng-container>

        <!-- upload  exel-->
        <label>upload question file</label>
        <br>
        <label class="btn btn-default form-group">
          <!-- <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" name="uploadExcel" [(ngModel)]="uploadExcel" style="width:1000">       -->
          <input type="file" style="display: inline-block;" (change)="incomingfile($event)" name="uploadExcel" id="uploadExcel" placeholder="Upload file"
            accept=".xlsx" name="uploadExcel">
          <!-- button -->

        </label>
        <button type="submit" class="btn btn-default" (click)="Upload();">Upload</button>
        <!-- display when no data question to be add -->
        <br>
        <br>
        <ng-container *ngIf="isDisplayQuestion">
          <div class="row">
            <div class="col-md-12 tableShow">
              <p style="text-align: center">
                <br> --- no data ---

              </p>
            </div>
          </div>
        </ng-container>
        <!--  -->
        <ng-container *ngIf="!isDisplayQuestion">
          <table class="table tableShow2">
            <tbody>
              <tr *ngFor="let question_item of question_objDisplay ;let index = index;let i = index;" class="hoverTable">
                <td width="10px" align="center">
                  <b> {{i+1}}) </b>
                </td>
                <td>
                  <!-- content question -->
                  <div class="item">
                    <b>{{question_item.question}}</b>

                    <p class="display_question_item" *ngFor="let itemChoice of question_item.choice;let i = index">

                      <!-- {{question_item.choice[0]}} -->
                      &nbsp;&nbsp;&nbsp; &nbsp; [{{i+1}}]&nbsp;{{itemChoice}}
                    </p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <u>
                      <b>answer</b>&nbsp;&nbsp;index [{{question_item.answer}}] </u>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
        </ng-container>
        <!--end display data question to be add -->
        <br>
        <!-- button -->
        <div class="row">
          <div class="col-md-12 ">
            <p class="buttonForm">
              <button type="button" class="btn btn-warning bntAdd" (click)="goBackEditTeste()">
                <i class="fa fa-chevron-circle-left"></i> Back</button>
              <button type="submit" class="btn btn-success  bntAdd" data-toggle="modal" data-target="#updateTest">
                  <span class="glyphicon glyphicon-ok-sign"></span> Update</button>
            </p>
          </div>
        </div>
        <!--  -->
      </form>

    </div>

  </div>
</div>


<!-- updateTest modal -->
<div class="modal fade" id="updateTest" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <h4 class="modal-title custom_align" id="Heading">Update this Test</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning">
          <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to update this test?
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" type="button" (click)="updateTest()" data-dismiss="modal">
          <span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>