add-test {
  margin: 30px;
  
}

.content {
  background-color: white;
}

.addSubject:hover {
  color: #0066ff;
  cursor: pointer;
  text-decoration: underline;
}
.tableShow {
  background-color: #f2f2f2;
}

u {
  /* text-decoration: underline; */
  border-bottom: double 2px;
}
.buttonForm{
  text-align: center
}
.bntAdd{
  width: 20%;
  margin: 5px;
}