<div class="add-test">
  <div class="box box-success">
    <div class="content">

      <form #SelectManageTest="ngForm">
        <div class="form-group">
          <label for="exampleSelect1">Subject select &nbsp; or &nbsp;
            <a class="AddSubject" data-toggle="modal" data-target="#myModalAddSub" (click)="DefaultModal()">Add Subject</a>
          </label>
          <select class="form-control" id="SelectCategory" name="SelectCategory" (ngModelChange)="onChange($event)" [(ngModel)]="SelectSubject">
            <option value="" [selected]="isSelected" [disabled]="true"> ----Please choose one---- </option>
            <option *ngFor="let subject of subjectList | async " [ngValue]=subject [selected]="isSelected">
              {{subject.code}} : {{subject.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>chapter Name:</label>
          <input type="text" class="form-control" id="chapterName" name="chaptertName" ngModel [(ngModel)]="chapter_Name" placeholder="ex.ระบบนิเวศ">
        </div>

        <div class="form-group">
          <label>Type of Test:</label>
          <select class="form-control" id="SelectTopic" name="SelectTopic" [(ngModel)]="type">
            <option value="" [selected]=true [disabled]="true"> ----Please choose one---- </option>
            <option [ngValue]=1> 1 : คำตอบสั้น </option>
            <option [ngValue]=2> 2 : คำถามแบบ 2 ตัวเลือก </option>
            <option [ngValue]=3> 3 : คำตอบสั้น 3 ตัวเลือก </option>
            <option [ngValue]=4> 4 : คำตอบสั้น 4 ตัวเลือก </option>
          </select>
        </div>

        <!-- upload  exel-->
        <label>upload question file</label>
        <br>
        <label class="btn btn-default form-group">
          <!-- <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" name="uploadExcel" [(ngModel)]="uploadExcel" style="width:1000">       -->
          <input type="file" style="display: inline-block;" (change)="incomingfile($event)" name="uploadExcel" id="uploadExcel" placeholder="Upload file"
            accept=".xlsx" name="uploadExcel" >
          <!-- button -->

        </label>
        <button type="submit" class="btn btn-default" (click)="Upload();">Upload</button>
        <!-- display when no data question to be add -->
        <br>
        <br>
        <ng-container *ngIf="isDisplayQuestion">
        <div class="row">
            <div class="col-md-12 tableShow">
              <p style="text-align: center">
                <br>
               --- no data ---    
      
              </p>
            </div>
          </div>
        </ng-container>
        <!--  -->
        <ng-container *ngIf="!isDisplayQuestion">
          <table class="table tableShow">
            <tbody>
              <tr *ngFor="let question_item of question_objDisplay ;let index = index;let i = index;" class="hoverTable">
                <td width="10px" align="center">
                  <b> {{i+1}}) </b>
                </td>
                <td>
                  <!-- content question -->
                  <div class="item">
                    <b>{{question_item.question}}</b>

                    <p class="display_question_item" *ngFor="let itemChoice of question_item.choice;let i = index">

                      <!-- {{question_item.choice[0]}} -->
                      &nbsp;&nbsp;&nbsp; &nbsp; [{{i+1}}]&nbsp;{{itemChoice}}
                    </p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <u>
                      <b>answer</b>&nbsp;&nbsp;index [{{question_item.answer}}] </u>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
        </ng-container>
        <!--end display data question to be add -->
        <br>
        <!-- button -->
        <div class="row">
          <div class="col-md-12 ">
            <p class="buttonForm">
              <button type="submit" class="btn btn-primary bntAdd" (click)="clearAddTest();">
                  <span class="glyphicon glyphicon-repeat"></span> Clear</button>
              <button type="submit" class="btn btn-success  bntAdd" data-toggle="modal" data-target="#createTest" [disabled]="createTestBnt">
                  <span class="glyphicon glyphicon-ok"></span> Create</button>
            </p>
          </div>
        </div>
        <!--  -->
      </form>
    </div>
  </div>
</div>



<!-- Modal ADD-->
<div class="modal fade" id="myModalAddSub" role="dialog">
  <div class="modal-dialog  modal-md">
    <!-- Modal size sm,md-->
    <!-- Modal content-->
    <div class="modal-content">
      <form #NewSubjectForm="ngForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ADD NEW SUBJECT</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Subject Code:</label>
            <input type="text" class="form-control" myNumberOnly  id="newSubjectCode" name="newSubjectCode" ngModel [(ngModel)]="newSubjectCode" placeholder="ex. 205100">
          </div>
          <div class="form-group">
            <label>Subject Name:</label>
            <input type="text" class="form-control" id="newSubjectName" name="newSubjectName" ngModel [(ngModel)]="newSubjectName" placeholder="ex. วิทยาศาสตร์">
          </div>
        </div>

      </form>
      <div class="modal-footer">
        <!-- <button type="submit" class="btn btn-success btn-lg" style="width: 100%;" data-dismiss="modal"> -->
        <button type="submit" class="btn btn-success btn-lg" style="width: 100%;" (click)="addNewSubject(NewSubjectForm);" data-dismiss="modal">
          <span class="glyphicon glyphicon-ok-sign"></span>ADD</button>
      </div>
    </div>
  </div>
</div>


<!-- createTestmodal -->
<div class="modal fade" id="createTest" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <h4 class="modal-title custom_align" id="Heading">Create New Test</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning">
          <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to create new test?
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" type="button" (click)="createNewTest(SelectManageTest)" data-dismiss="modal">
          <span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>