<div class="add-test">

  <div class="content">

    <form #SelectManageTest="ngForm">
        <div class="form-group">
            <label>Subject Code:</label>
            <input type="text" class="form-control" id="SubjectCode" name="SubjectCode" ngModel [(ngModel)]="Subject_Code">
          </div>
      <div class="form-group">
        <label>Subject Name:</label>
        <input type="text" class="form-control" id="SubjectName" name="SubjectName" ngModel [(ngModel)]="Subject_Name">
      </div>
      <div class="form-group">
        <label>chapter Name:</label>
        <input type="text" class="form-control" id="chapterName" name="chaptertName" ngModel [(ngModel)]="chapter_Name">
      </div>

      <div class="form-group">
        <label>Type of Test:</label>
        <select class="form-control" id="SelectTopic" name="SelectTopic" [(ngModel)]="type">
          <option value=""  [selected]=true [disabled]="true"> ----Please choose one---- </option>
          <option [ngValue]=1> 1 : คำตอบสั้น </option>
          <option [ngValue]=2> 2 : คำถามแบบ 2 ตัวเลือก </option>
          <option [ngValue]=3> 3 : คำตอบสั้น 3 ตัวเลือก </option>
          <option [ngValue]=4> 4 : คำตอบสั้น 3 ตัวเลือก </option>
        </select>
      </div>

      <!-- upload  exel-->
      <label>upload question file</label>
      <br>
      <label class="btn btn-default form-group" >
        <!-- <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" name="uploadExcel" [(ngModel)]="uploadExcel" style="width:1000">       -->
        <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" name="uploadExcel" style="width:1000">   
      </label>

      <br>
      <br>
      <!-- button -->
      <button type="submit" class="btn btn-danger" (click)="clearAddTest()">Clear</button>
      <button type="submit" class="btn btn-success" (click)="createNewTest(SelectManageTest)">Next</button>
    </form>
  </div>

</div>