<div class="test">

  <div class="box box-info">
    <div class="content">
              <!-- display when no data question to be add -->
              <br>
              <br>
              <ng-container *ngIf="!isDisplayPause">
              <div class="row">
                  <div class="col-md-12 tableShow">
                    <p style="text-align: center">
                      <br>
                     --- No quiz paused. ---    
            
                    </p>
                  </div>
                </div>
              </ng-container>
              <!--  -->
     <!-- <label style="background-color: wheat"><h4>The quiz was paused</h4></label> 
      <br> -->
      <!-- Trigger the modal with a button -->

      <button type="button" class="btn btn-primary createTest" (click)="createTest()">
        <h4>
          <i class="fa fa-plus"></i>
        </h4>
      </button>

      <ng-container *ngIf="isDisplayPause">
          <div class="row" style="background-color: white">
              <div class="col-md-12 tableShow">
                <p style="text-align: center">
                 --- Quiz paused. ---         
                </p>
                <br>
              </div>
            </div>

      <div class="row">
        <div class="col-md-3" *ngFor="let exam of examPause">

          <div class="item_group" (click)="goToQuiz(exam.exam_code)">
            <div class="row rowPic" style="text-align: center">
              <img src="assets/dist/img/picP3.PNG" class="pause-image">
            </div>

            <div class="row rowContent" style="text-align: center">
              <h5>
                {{exam.chapter_name}}
                <br>
                <b> Date: </b>{{exam.date | date :'short'}}
              </h5>
            </div>
          </div>

        </div>
      </div>          
    </ng-container>
    </div>
  </div>