<div class="quiz">
  <div class="row">

    <div class="col-md-8">
      <div class="row header_test_left">

        <div class="col-md-10">
          <h4>
            <b> Subject:</b> &nbsp; &nbsp; {{examSubDisplay}} &nbsp; &nbsp;&nbsp; &nbsp;
            <b> Chapter:</b> &nbsp; &nbsp; {{examChapDisplay}}
          </h4>
          <h4>
            <b> Description:</b> &nbsp; &nbsp; {{examDesDisplay}}
          </h4>
          <div class="btn-group btn-group-justified ">
              <a  (click)="pauseTest()" class="btn PauseBtn">
                <span class="glyphicon glyphicon-pause"></span> Pause</a>
                <a (click)="stopTest()" class="btn StopBtn">
                    <span class="glyphicon glyphicon-stop"></span> Stop</a>
              <a (click)="SkipQuestion()" class="btn SkipBtn">
                <span class="	glyphicon glyphicon-step-forward"></span> Skip</a>
            </div>
          <!-- <div class="btnn-header">
            <button type="submit" class="btn btn-warning btn-md" style="width: 45%;" (click)="pauseTest()">
              <span class="glyphicon glyphicon-pause"></span> Pause</button>
            <button type="submit" class="btn btn-danger btn-md" style="width: 45%;" (click)="SkipQuestion()">
              <span class="	glyphicon glyphicon-step-forward"></span> Skip</button>
          </div> -->

        </div>
        <div class="col-md-2 header_numOfTest_right">
          <h1>
            {{doing_percent}}%
          </h1>
          <h4>
            {{current_question}}/{{total_num_cal}} ข้อ
          </h4>

        </div>
      </div>
      <div class="row body_test_left">
        <div class="content-body ">
          <h3> <b> ข้อที่ {{current_question+1}}:</b> {{question_show}} </h3>
          <p *ngFor="let data of choice_show ; let i=index">
            <br><h4>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;({{i+1}}.)&nbsp;{{data}}</h4>
          </p>
          <!-- test -->
          <br>
          <!--    <div>
          รหัส:<input type="text" name="testttname1" id="testttname1"[(ngModel)]="tesssttext1">
          คำตอบ:<input type="text" name="testttname2" id="testttname2"[(ngModel)]="tesssttext2">
        <button type="submit" class="btn-warning btn-md" style="width: 25%;"(click)="TestStuList()">
         TestStuList </button>
        </div>
     test end -->
        </div>
       <!-- button -->
<div class="row">
  <div class="col-md-12 ">
    <p class="buttonForm">

      <button type="submit" class="btn btn-primary btn-md bntAdd" (click)="ProcessAnswer()">
        <span class="	glyphicon glyphicon glyphicon-refresh"></span> Process Answer </button>
      <button type="submit" class="btn btn-success btn-md bntAdd"(click)="NextQuestion()" [disabled]=isValidNext>
        <span class="	glyphicon glyphicon-forward"></span> Next </button>
    </p>
  </div>
</div>
<!--  -->
          

      </div>
    </div>
    <div class="col-md-4 display_list_right " id="table-wrapper">
      <div class="tableAllList tests" id="table-scroll">
        <table class="table table-striped test2 ">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Pic.</th>
              <th scope="col">Name</th>
              <th scope="col">Score</th>
              <th scope="col">Ans.</th>
            </tr>
          </thead>
          <tbody class="TableList">
            <ng-container *ngIf="!isprocess">
              <tr *ngFor="let data of array_testList ; let i=index">
                <th scope="row">{{i+1}}</th>
                <td>
                  <img src=  {{data.url}} width="40" class="picture_show img-circle">
                </td>
                <td>{{data.student_name}}</td>
                <td>{{data.score}}/{{total_num_cal}}</td>
                <td>{{data.answer}}</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="isprocess">
                <tr *ngFor="let data of array_testListProcess ; let i=index">
                  <th scope="row">{{i+1}}</th>
                  <td>
                    <img src= {{data.url}} width="40" class="picture_show img-circle">
                  </td>
                  <td>{{data.student_name}}</td>
                  <td>{{data.score}}/{{total_num_cal}}</td>
                  <td> <img src= {{data.answer}} width="30" ></td>
                </tr>
              </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>