.student-list{
  margin: 30px;  
}

.container{
  margin: 20px;  
}
.row{
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
}
.picture_show:hover{
  cursor: pointer;
  width: 250px;
}

/* ตอนลองตาราง meterail */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
.thisTextCenter{
  text-align: center;
}