.scores {
    margin: 10px;
  }

  .header{
    background: #d8e9f3;
    padding: 15px;
    height: 120px;
  }
  .reft_content{
    background:#F8F8FF;
    /* height: 480px; */
  }
  .right_content{
    background: white;
    /* height: 480px; */
  }
  #table-wrapper {
    position:relative;
  }
  #table-scroll {
    height:590px;
    overflow:auto;  
    margin-top:20px;
  }
  #table-wrapper table {
    width:100%;
  
  }
  /* #table-wrapper table * {
    background:yellow;
    color:black;
  } */
  #table-wrapper table thead th .text {
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
  }
  .table-hover{

    margin-top: 40px;
  }
  .bntAdd{
    width: 94%;
    margin: 5px;
    /* background-color: #FF8460;
    color: whitesmoke */
  }
  .bntAdd1{
    width: 45%;
    margin: 5px;
    background-color: #008000;
    color: whitesmoke
  }
  .bntAdd2{
    width: 45%;
    margin: 5px;
    background-color: #BD2819;
    color: white
  }
  .picture_show:hover{
    position: absolute;
    cursor: pointer;
    width: 250px;
    transition: width 1s;
    border-radius: 10px;
    box-shadow: -3px -3px 20px #888888;
  }
