<div class="scores" id = "content">
  <div class="row">
    <div class="col-md-12 header">
      <h4>
        <p>
          <b> exem code:</b> &nbsp; &nbsp; {{exam_code}} &nbsp; &nbsp;&nbsp; &nbsp;
          <b> subject name:</b> &nbsp; &nbsp; {{subject_name}} &nbsp; &nbsp;&nbsp; &nbsp;
          <b> chapter name:</b> &nbsp; &nbsp; {{chapter_name}}
        </p>
        <p>
          <b> description:</b> &nbsp; &nbsp; {{description}} &nbsp; &nbsp;&nbsp; &nbsp;
          <b> type:</b> &nbsp; &nbsp; {{type}}
        </p>
        <p>
          <b> amount:</b> &nbsp; &nbsp; {{doing}}/{{amount}} &nbsp; &nbsp;&nbsp; &nbsp;
          <b> date:</b> &nbsp; &nbsp;  {{date | date :'short'}} 
        </p>

      </h4>
    </div>

  </div>
  <div class="row">
    <div class="col-md-8 reft_content">
      <table class="table table-hover">
        <thead>
          <tr>
            <td colspan='5' align="center">

              <ng-container *ngIf="isbar">
                <p-chart type="bar" [data]="data1"  [options]="options"></p-chart>
              </ng-container>
              <ng-container *ngIf="isline">
                <p-chart type="line" [data]="data2"  [options]="options"></p-chart>
              </ng-container>
              <div class="btn-group btn-group-justified ">
                <a class="btn  addTestBtn bg-info" (click)="barBtn()"> Bar</a>
                <a class="btn editTestBtn bg-danger" (click)="lineBtn()"> Line </a>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td>
              <b> Max : </b> {{max}} </td>
            <td>
              <b> Min : </b> {{min}}</td>
          </tr>
          <tr>
            <td>
              <b> Average : </b>{{avg}}</td>
            <td>
              <b> Standard Deviation : </b> {{std}} </td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="col-md-4 right_content table-scroll">
      <table class="table table-hover">
        <thead>
          <tr>
            <th> #
            </th>
            <th scope="col" style="text-align: center">Picture</th>
            <th scope="col" style="text-align: center">Student Name</th>
            <th scope="col" style="text-align: center">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of studentShow; let i=index">
            <td>{{i+1}}</td>
            <td style="text-align: center"><img src={{data?.url}} width="40 px" class="picture_show img-circle"></td>
            <td style="text-align: center" >{{data.nickname}}</td>
            <td style="text-align: center" >{{data.score}}</td>
          </tr>
          <tr>
            <td colspan='4' align="center">
              <button (click)="exportToExcel()" class="btn bntAdd1">
                <span class="glyphicon glyphicon-export"></span>  Export to excel</button>
                <button (click)="generatePDF()" class="btn bntAdd2">
                  <span class="glyphicon glyphicon-export"></span>&nbsp;Export to PDF</button>
            </td>
          </tr>
            <tr>
            <td colspan='4' align="center">
                <button (click)="exitTest()" class="btn btn-primary bntAdd">
                    <span class="glyphicon glyphicon-off"></span> Close </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>