.reports{
    margin: 30px;  
  }


  .content{
    margin-top: 20px;
    background-color:white;
  }

  .header{
    background: #d8e9f3;
    padding: 15px;
    height: 120px;
  }
  .reft_content{
    background:#F8F8FF;

  }
  .right_content{
    background: white;

  }
  #table-wrapper {
    position:relative;
  }
  #table-scroll {
    height:590px;
    overflow:auto;  
    margin-top:20px;
  }
  #table-wrapper table {
    width:100%;
  
  }
  .table-hover{

    margin-top: 40px;
  }
  .scores {
    margin: 5px;
  }
  .bntAdd1{
    width: 45%;
    margin: 5px;
    background-color: #008000;
    color: whitesmoke
  }
  .bntAdd2{
    width: 45%;
    margin: 5px;
    background-color: #BD2819;
    color: white
  }
  .picture_show:hover{
    position: absolute;
    cursor: pointer;
    width: 250px;
    transition: width 1s;
    border-radius: 10px;
    box-shadow: -3px -3px 20px #888888;
  }
