<!-- <div class="manage-test">

  <div class="content">
    <br>

    <mat-tab-group>
      <mat-tab label="Add new test">
        <br>
        <app-add-test></app-add-test>
      </mat-tab>

      <mat-tab label="Delete test">
        <br>
        <app-delete-test></app-delete-test>
      </mat-tab>

    </mat-tab-group>

  </div>

</div> -->

<div class="manage-test">
    <div class="content">
      <div class="btn-group btn-group-justified ">
          <a [routerLink]="'/dashboard/manage-test/'" class="btn  addTestBtn bg-success">ADD NEW TEST</a>
          <a [routerLink]="'/dashboard/manage-test/Edit-Test'" class="btn editTestBtn bg-warning">EDIT TEST</a>
          <a [routerLink]="'/dashboard/manage-test/Delete-Test'" class="btn deleteTestBtn bg-danger">DELETE TEST</a>
        </div>
        <br>
        <br>

            <!--Call Component -->
            <router-outlet></router-outlet>
    </div>
  
  </div>