<!-- <div class="manage-test">

  <div class="content">
    <br>

    <mat-tab-group>
      <mat-tab label="Add new test">
        <br>
        <app-add-test></app-add-test>
      </mat-tab>

      <mat-tab label="Delete test">
        <br>
        <app-delete-test></app-delete-test>
      </mat-tab>

    </mat-tab-group>

  </div>

</div> -->

<div class="manage-test">
    <div class="content">
      <p>Hiiiiii</p>
            <!--Call Component -->
            <router-outlet></router-outlet>
    </div>
  
  </div>